<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/s/css/main.css">
    <link rel="stylesheet" type="text/css" href="/s/css/jquery-ui.css">
    <script src="/s/js/jquery-1.9.1.min.js"></script>
    <script src="/s/js/jquery.watermark.min.js"></script>
    <script src="/s/js/mustache.js"></script>
    <script src="/s/js/jquery-extensions.js"></script>
    <script src="/s/js/jquery-ui.js"></script>
    <script src="/s/js/main.js"></script>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <div class="wrapper" id="header">
      {% block header %}
	  <h1>{{ title|title }}</h1>
      {% endblock %}
    </div>
    <div class="wrapper" id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>