<nav class="menu create-menu">

  {# breadcrumbs #}
  {% if request.path %}
    {% if request.path != '/' %}
       <a href="{% url 'index' %}">Home</a>&nbsp;&middot;
    {% endif %}
  {% endif %}
  New:
  {% if request.path %}
    {% if request.path != '/checkout/new' %}	
      <a href="{% url 'create_checkout' %}">Checkout</a>
	{% endif %}
  {% endif %}
  {% if request.path %}
    {% if request.path != '/asset/new' %}	
      <a href="{% url 'create_asset' %}">Asset</a>
	{% endif %}
  {% endif %}
  {% if request.path %}
    {% if request.path != '/location/new' %}	  
      <a href="{% url 'create_location' %}">Location</a>
    {% endif %}
  {% endif %}
  {% if request.path %}
    {% if request.path != '/model/new' %}
      <a href="{% url 'create_model' %}">Model</a>
	{% endif %}
  {% endif %}
  {% if request.path %}
    {% if request.path != '/make/new' %}	  
      <a href="{% url 'create_make' %}">Make</a>
	{% endif %}
  {% endif %}
  {% if request.path %}
    {% if request.path != '/import/' %}
	  &middot;
      <a href="{% url 'import' %}">Import</a>
    {% endif %}
  {% endif %}
  <a href="/admin">Admin</a>
</nav>