{% extends "base.html" %}

{% block extra_head %}
  <script src="{{ STATIC_URL }}js/search.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/search.css">
  <style type="text/css">
  .search-container {
    margin-top: 10px;
  }

  .menu {
    float: right;
    padding-top: 10px;
  }
  </style>
{% endblock %}

{% block header %}
  <div class="clear justify-rl">
    {% include "search.html" %}
    &nbsp;
    {% include "header-links.html" %}
  </div>
{% endblock %}

{% block content %}
  {% include "search_results.html" %}
{% endblock %}