{% extends "base.html" %}

{% block extra_head %}
  <script src="{{ STATIC_URL }}js/search.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/search.css">
  <style type="text/css">
  .search-container {
    margin-top: 0px;
  }

  .menu {
    float: left;
    padding-top: 0px;
  }
  </style>
{% endblock %}

{% block header %}
  <div class="clear justify-rl">
    {% include "header-links.html" %}</br>
	<h1>Asset Manager Home</h1>
    {% include "search.html" %}
  </div>
{% endblock %}

{% block content %}
  {% include "search_results.html" %}
{% endblock %}