  <tbody>
  {% for form in forms %}
    <tr class="sort">

    {% if forloop.first %}
      {% for field in form %}
      <td style="z-index: 100;">
        <a href="#re-sort" title="Sort by {{ field.label }}" value="{{ field.name }}" style="z-index: 3;">
          {{ field.label }}
        </a>
        <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
          <polygon points="20,0, 10,20 0,0" class="down_arrow" style="fill: rgba(100,100,100,.4);"/>
          <polygon points="0,20 10,0 20,20" class="up_arrow" style="fill: rgba(100,100,100,.4);"/>
        </svg>
      </td>
      {% endfor %}
    </tr>
    <tr>
    {% endif %}

    {% for field in form %}
      <td>
        {{ field.value }}
      </td>
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>