{% extends "base.html" %}

{% block extra_head %}
<script src="{{ STATIC_URL }}js/login.js"></script>
<style type="text/css">

  input {
    display: block;
    margin: 10px 0;
    width: 90%;
  }

  .error {
    display: block;
    width: 100%;
    text-align: center;
    color: #F98888;
  }

  form {
    display: table;
    background-color: rgba(255,255,255,.4);
    box-shadow: 0 0 10px rgba(200,200,200,.5);
    border-radius: 20px;
    padding: 30px;
    margin: 20px auto;
    transition:
      box-shadow .3s;
  }

  form:hover {
    box-shadow: 0 0 10px rgba(170,170,170,.5);
    transition:
      box-shadow .3s;
  }

</style>
<script type="text/javascript">
$(function(){
  $('#id_username').focus();
})
</script>
{% endblock %}

{% block header %}
<h1 class="login-title">LOGIN REQUIRED</h1>
{% endblock %}

{% block content %}

{% if form.errors %}
  <p class="error">Your username and password didn't match, please try again.</p>
{% endif %}

<form method="POST">
  {% csrf_token %}
    {% for field in form %}
      {{ field }}
    {% endfor %}
    <br>
    <input type="hidden" name="next" value="Login" />
    <input type="submit">
  </div>
</form>

{% endblock %}
