<input id="search" type="text">

<script id="search-result-template" type="text/html">
  <div class="search-result">
    <a href="{% url 'asset_alias' %}{% templatetag openvariable %} pk {% templatetag closevariable %}">
      <div class="s-result-img">
        {% templatetag openvariable %} fields {% templatetag closevariable %}
      </div>
      <div class="s-result-desc">
        {% templatetag openvariable %} fields.description {% templatetag closevariable %}
      </div>
    </a>
  </div>
</script>