<div class="search-container">
  <div class="search-filter-template search-filter">
    <input class="filter" type="text">
    <select class="field-select">
      {% for field in model_fields %}
        <option value="{{ field }}" {% if field == 'description' %}selected="selected"{% endif %}>{{ field }}</option>
      {% endfor %}
    </select>
	<br/>
	<a class="add-filter" title="add search filter">+</a>
	<a class="remove-filter" title="remove search filter">-</a>
  </div>
</div>

<p class="js-warning">You need javascript enabled to use this app.</p>

<script id="search-result-template" type="text/html">
  <div class="search-result">
    <a href="{% url 'asset_list' %}{% templatetag openvariable %} pk {% templatetag closevariable %}">
      <div class="s-result-img">
        {% templatetag openvariable %} fields.title {% templatetag closevariable %}
      </div>
      <div class="s-result-desc">
        {% templatetag openvariable %} fields.description {% templatetag closevariable %}
      </div>
    </a>
  </div>
</script>