{% extends "base.html" %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/object.css">

  {# easy js extensions #}
  {% for js in extra_js %}
    <script src="/s/js/{{ js }}"></script>
  {% endfor %}

  {# easy css extensions #}
  {% for style in extra_style %}
    <link rel="stylesheet" type="text/css" href="/s/css/{{ style }}">
  {% endfor %}
{% endblock %}

{% block header %}
  {% include "header-links.html" %}
    <h1>{{ title|title }}</h1>
{% endblock %}

{% block content %}
  {% include object_template %}
{% endblock %}