/* main css file (assets app)

Peter Novotnak :: 2013 */

html body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EFEFEF;
}

.clear {
  clear: both;
}

.center-content {
  width: 100%;
  text-align: center;
}

.wrapper {
  background-color: #FEFEFE;
  min-width: 200px;
  max-width: 900px;
  width: 90%;
  margin: 20px auto;
  padding: 10px 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #DDD;
}

.menu {
  display: inline-block;
  margin-left: 10px;
}

.menu a {
  text-decoration: none;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0 10px;
  background-color: rgb(250,200,250);
  background-color: rgba(250,200,250,.1);
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(100,100,100,.4);
}

.menu a:hover {
  color:#FF00FF;
  box-shadow: 0 0 6px 1px rgba(80,80,80,.9);
  background-color: rgb(255,210,255);
  background-color: rgba(240,230,240,.1);
  transition: 
    box-shadow .6s,
    background-color .6s;
}

.menu a + a {
  margin: 0;
}

.justify-rl {
  text-align: justify;
}


.justify-rl:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}





