/* main css file (assets app)

Peter Novotnak :: 2013 */

html body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EFEFEF;
}

.clear {
  clear: both;
}

.center-content {
  width: 100%;
  text-align: center;
}

.wrapper {
  background-color: #FEFEFE;
  min-width: 200px;
  max-width: 900px;
  width: 90%;
  margin: 20px auto;
  padding: 10px 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #DDD;
  transition:
    box-shadow .5s;
}

.wrapper:hover {
  box-shadow: 0 0 11px 2px #CCC;
  transition:
    box-shadow .5s;
}

.wrapper:last-child {
  margin-bottom: 15%;
}

.wrapper:first-child {
  margin-top: 3%;
}

.menu {
  display: inline-block;
  margin-left: 10px;
  color: #999;
}

a {
  text-decoration: none;
}

.menu a {
  color:#444;
  text-decoration: none;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0 10px;
  background-color: rgb(250,200,250);
  background-color: rgba(250,200,250,.1);
  border-radius: 5px;
  box-shadow: 0 0 4px 1px rgba(100,100,100,.2);
  transition:
    box-shadow .5s;
}

.menu a:hover {
  color:#990099;
  box-shadow: 0 0 5px 1px rgba(80,80,80,.4);
  background-color: rgb(255,210,255);
  background-color: rgba(240,230,240,.1);
  transition: 
    box-shadow .3s,
    background-color .3s;
}

.menu a + a {
  margin: 0;
}

.justify-rl {
  text-align: justify;
}


.justify-rl:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}

.wrapper:first-child h1 {
  margin: 15px auto;
  width: 90%;
  color: #F17777;
  text-align: center;
  padding: 9px 0;
  border-top: 1px solid rgba(100,100,100,.5);
  border-bottom: 1px solid rgba(100,100,100,.5);
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  position:relative;
}

.wrapper:first-child h1:before,
.wrapper:first-child h1:after {
  position:absolute;
  width:10px;
  top:0;
  bottom:0;
  background:#fff;
  content:" ";
}
.wrapper:first-child h1:before {left:-10px;}
.wrapper:first-child h1:after{right:-10px;}

.required {
  color: #D00;
}



