.asset-form {
  max-width: 90%;
  margin: 0 auto;
}

ul.errorlist {
  background-color: #F99;
  background-color: rgba(250,50,50,.7);
}

.errorlist li {
  list-style: none;
}

.container {
    display: table;
    width: 100%
}

label {
    display: table-cell;
    width: 1px;
    white-space: nowrap
}

.wrapper span {
    display: table-cell;
    padding: 0 0 0 5px
}

input {
    width: 99.25%
}