.search-container {
  display: inline-block;
}

.search-filter-template {
  display: none !important;
}

.search-filter {
  display: inline-block;
  float: left;
  clear: both;
}

.add-filter {
  cursor: pointer;
  position: relative;
  bottom: 10px;
  left: 10px;
}

.remove-filter {
  cursor: pointer;
  position: relative;
  bottom: 10px;
  left: 20px;
}

.search-result div {
  display: inline-block;
}

a {
  text-decoration: none;
}