.search-container {
  display: inline-block;
}

.search-filter-template {
  display: none !important;
}

.search-filter {
  display: inline-block;
  float: left;
  clear: both;
}

.add-filter {
  cursor: pointer;
}

.remove-filter {
  cursor: pointer;
  margin-top:100px;
  margin-bottom:100px;
  margin-right:50px;
  margin-left:50px;
}

.search-result div {
  display: inline-block;
}

a {
  text-decoration: none;
}